TSCP/AltovaTSCP.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2021 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="urn:tscp:names:baf:1.1" xmlns="urn:tscp:names:baf:1.1" xmlns:baf="urn:tscp:names:baf:1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:loext="urn:org:documentfoundation:names:experimental:office:xmlns:loext:1.0">
	<xs:import namespace="urn:org:documentfoundation:names:experimental:office:xmlns:loext:1.0" schemaLocation="AltovaTSCP1.xsd"/>
	<xs:element name="AdministrativeData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:ProgramID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessAuthorization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:PolicyAuthorityName"/>
				<xs:element ref="baf:PolicyName"/>
				<xs:element ref="baf:AdministrativeData"/>
				<xs:element ref="baf:Included"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessAuthorizationCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:LabelingRules"/>
				<xs:element ref="baf:ImpactLevel"/>
			</xs:sequence>
			<xs:attribute name="Identifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="urn:example:tscp:1:Basic"/>
						<xs:enumeration value="urn:example:tscp:1:Free"/>
						<xs:enumeration value="urn:example:tscp:1:eye-only"/>
						<xs:enumeration value="urn:example:tscp:1:přísně tajne II"/>
						<xs:enumeration value="urn:example:tscp:1:přísně tajné"/>
						<xs:enumeration value="urn:example:tscp:1:tajné"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Non-Business"/>
						<xs:enumeration value="Pro vnitřní potřebu"/>
						<xs:enumeration value="Přísně tajné"/>
						<xs:enumeration value="Přísně tajné II."/>
						<xs:enumeration value="Tajné"/>
						<xs:enumeration value="eye only"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="loextAbbreviatedName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="E"/>
						<xs:enumeration value="F"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="PT"/>
						<xs:enumeration value="PTZD"/>
						<xs:enumeration value="T"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfidentalityValue">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Identifier">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="Document: Footer"/>
				<xs:enumeration value="Document: Header"/>
				<xs:enumeration value="Document: Watermark"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ImpactLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:LabelingRules" minOccurs="0"/>
				<xs:element ref="baf:Scale"/>
				<xs:element ref="baf:ConfidentalityValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Included">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:BusinessAuthorizationCategory" maxOccurs="unbounded"/>
				<xs:element ref="loext:Marking"/>
				<xs:element ref="loext:IntellectualPropertyPart" maxOccurs="unbounded"/>
				<xs:element ref="loext:IntellectualPropertyPartNumber" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LabelingRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:VisualMarkingPart" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PolicyAuthorityName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Security authority"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PolicyName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Policy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProgramID">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="urn:example:tscp:1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Scale">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="UK-Cabinet"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="VisualMarkingPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="baf:Identifier"/>
				<xs:element ref="baf:Value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
