TSCP/AltovaTSCP1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2021 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="urn:org:documentfoundation:names:experimental:office:xmlns:loext:1.0" xmlns="urn:org:documentfoundation:names:experimental:office:xmlns:loext:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IntellectualPropertyPart">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Example First IP Part"/>
						<xs:enumeration value="Example Second IP Part"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntellectualPropertyPartNumber">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Marking">
		<xs:complexType>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Example Marking"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
